<div>
  <form [formGroup]="searchBreweryForm">
    <label>
      Filter By Name:
      <input
        appAllowAlphabetOnly
        type="text"
        ng-model="searchBreweryForm.filterByName"
        formControlName="filterByName"
      />
    </label>

    <select
      (change)="onStateOptionChange($event.target.value)"
      formControlName="filterByState"
    >
      <option value="">--All--</option>
      <option
        *ngFor="let breweryStateOption of breweryStates$ | async"
        value="{{ breweryStateOption }}"
      >
        {{ breweryStateOption }}
      </option>
    </select>
    <button (click)="onReset()">Reset</button>
  </form>

  <div
    *ngFor="
      let brewery of breweries$ | async | breweryFilterByState: filterState
    "
  >
    {{ brewery.name }}
  </div>

  <app-brewery-search-result></app-brewery-search-result>
</div>
