<div>
  <div class="fixed-header">
    <form [formGroup]="searchBreweryForm">
      <div class="search-options__container">
        <label class="search-options__item">
          <input
            class="search__filter-item"
            appAllowAlphabetOnly
            type="text"
            ng-model="searchBreweryForm.filterByName"
            formControlName="filterByName"
            placeholder="Filter By Name"
          />
        </label>

        <select
          class="search-options__item search__filter-item"
          (change)="onStateOptionChange($event.target.value)"
          formControlName="filterByState"
        >
          <option value="">--Filter By State--</option>
          <option
            *ngFor="let breweryStateOption of breweryStates$ | async"
            value="{{ breweryStateOption }}"
          >
            {{ breweryStateOption }}
          </option>
        </select>
        <button
          class="search-options__item search__filter-item"
          (click)="onReset()"
        >
          Reset
        </button>
      </div>
    </form>
  </div>

  <div class="search-brewery__results">
    <div
      *ngFor="
        let brewery of breweries$ | async | breweryFilterByState: filterState
      "
    >
      <app-brewery-search-result-line [brewery]="brewery">
      </app-brewery-search-result-line>
    </div>
  </div>
</div>
