<div>
  <p>brewery-search works!</p>
  <form [formGroup]="searchBreweryForm">
    <label>
      Filter By Name:
      <input
        (keydown)="validateNumber($event)"
        type="text"
        ng-model="searchBreweryForm.filterByName"
        formControlName="filterByName"
      />
    </label>

    <select (change)="onStateOptionChange($event.target.value)">
      <option value="0">--All--</option>
      <option
        *ngFor="let breweryStateOption of breweryStates$ | async"
        value="{{ breweryStateOption }}"
      >
        {{ breweryStateOption }}
      </option>
    </select>
  </form>

  <div *ngFor="let brewery of breweries$ | async">
    {{ brewery.name }}
  </div>
  <app-brewery-search-result></app-brewery-search-result>
</div>
